@page "/Transfer"
@using Bank_Shared_Classes.Models

<div class="d-flex flex-column align-items-center w-100">
    <h3 class="mb-4">Transfer funds</h3>
    <div class="card" style="width: 50%;">
        <div class="card-body">

            
            

                <div class="mb-4">
                    <h6 class="card-title">From</h6>
                    <Dropdown TItem="string" Class="w-100">
                        <InitialTip>Select account</InitialTip>
                        <ChildContent>
                            @foreach (var item in Items)
                            {
                                <DropdownListItem TItem="DropdownItem" Item="@item">@item.Text</DropdownListItem>
                            }
                        </ChildContent>
                    </Dropdown>
                </div>
                <div class="mb-4">
                    <h6 class="card-title">To</h6>
                    <Dropdown TItem="string" Class="w-100">
                        <InitialTip>Select account</InitialTip>
                        <ChildContent>
                            @foreach (var item in Items)
                            {
                                <DropdownListItem TItem="DropdownItem" Item="@item">@item.Text</DropdownListItem>
                            }
                        </ChildContent>
                    </Dropdown>
                </div>


            <EditForm Model="@TransactionRequest" OnValidSubmit="HandleTransfer">
                <DataAnnotationsValidator />
            
                <div class="form-group mb-4">
                    <label for="Amount">Amount To Transfer</label>
                    <InputNumber id="Amount" class="form-control border border-dark" @bind-Value="TransactionRequest.Amount" />
                    <ValidationMessage For="@(() => TransactionRequest.Amount)" />
                </div>

                <div class="form-group mb-4">
                    <label for="Note">Note</label>
                    <InputText id="Note" class="form-control border border-dark" @bind-Value="TransactionRequest.Note" />
                </div>

                <div class="form-group mb-4">
                    <button type="submit" class="btn btn-primary w-100">Transfer funds</button>
                </div>
                </EditForm>
        </div>
    </div>
</div>
@code {
    private static List<DropdownItem> Items = new List<DropdownItem>
    {
        new DropdownItem("Main account", 1) ,
        new DropdownItem("Secondary account", 2) ,
        new DropdownItem("Savings account", 3) ,
    };

    private TransactionRequest TransactionRequest = new TransactionRequest();


    private double AmountToTransfer { get; set; }
    private string Note { get; set; }

    private async void HandleTransfer()
    {
        //add api call
    }
}